.header {
  background: linear-gradient(135deg, #dfffe8, #f3edff, #dcffe4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Первая строка */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header__left {
  display: flex;
  align-items: center;
  /* gap: 40px; */
  flex: 1;
  margin-right: 100px;
}

.header__logo {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 50px;
}

.header__left .search-bar {
  flex: 1;
  max-width: 250px;
}

.header__right {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

/* Вторая строка для админ-панели */
.header__bottom {
  border-top: 1px solid #f0f0f0;
  padding: 10px 0;
}

.header__admin-controls {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__admin-toggle {
  background: #a1f4e0;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 54px;
  transition: background-color 0.2s;
  user-select: none;
}

.header__admin-toggle:hover {
  background-color: #93ffe69f;
}

.header__admin-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.header__admin-toggle-text {
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.header__admin-nav {
  display: flex;
  gap: 20px;
}

.header__admin-nav-link {
  color: #666;
  text-decoration: none;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 15px;
  transition: background-color 0.2s;
}

.header__admin-nav-link:hover {
  background-color: #a1f4e1b5;
  color: #333;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__profile-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.header__user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.header__user-avatar:hover {
  transition: background-color 0.4s;
  background-color: #0069d8;

}

.header__user-name {
  font-size: 14px;
  color: #333;
}

.header__logout-btn {
  background: none;
  border: 1px solid #dc3545;
  color: #dc3545;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.2s;
}

.header__logout-btn:hover {
  background-color: #dc3545;
  color: white;
}